@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vrittiy.Web</title>
    <script type="importmap"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vrittiy.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            var role = Context.Session.GetString("UserRole");
            var email = Context.Session.GetString("UserEmail");
            var token = Context.Session.GetString("JWToken");
        }

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">

                <!-- Logo / App Name -->
                <a class="navbar-brand" href="/">Vrittiy.COM</a>

                <!-- Navigation Links -->
                <div>

                    @* <a class="nav-link d-inline" href="/">Home</a> *@

                    @if (Context.Session.GetString("UserRole") == "User")
                    {
                        <a class="nav-link d-inline" href="/Jobs">Browse Jobs</a>
                        <a class="nav-link d-inline" href="/Jobs/MyApplications">My Applications</a>
                    }

                    @if (Context.Session.GetString("UserRole") == "Recruiter")
                    {
                        <a class="nav-link d-inline" href="/Jobs/Create">Post Job</a>
                        <a class="nav-link d-inline" href="/Jobs/MyPostedJobs">My Jobs</a>
                    }

                    @if (Context.Session.GetString("JWToken") != null)
                    {
                        <span class="ms-3">
                            @Context.Session.GetString("UserEmail")
                        </span>

                        <a class="nav-link d-inline" href="/Account/Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link d-inline" href="/Account/Login">Login</a>
                        <a class="nav-link d-inline" href="/Account/Register">Register</a>
                    }

                </div>

            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-5 py-3" style="background-color:#161b22;">
        <div class="container text-center">
            <span class="text-white">
                © 2026 Vrittiy.COM • Built with ASP.NET Core
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
