
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <input name="title" placeholder="Title" />
    <input name="description" />
    <input name="location" />

    <button type="submit">Post Job</button>
</form>