
@{
    ViewData["Title"] = "Index";
    var role = Context.Session.GetString("UserRole");
}

@model List<dynamic>

<div class="container mt-4">
    <h2>Available Jobs</h2>

    <div class="row">
        @foreach (var job in Model)
        {
            <div class="col-md-4">
                <div class="card p-3 mb-4">
                    <h5 class="card-title">@job.title</h5>
                    <p class="job-desc">
                        @job.description
                    </p>

                    <small class="d-block mt-2">
                        <strong>Location:</strong> @job.location
                    </small>
                    <a href="/Jobs/Apply/@job.id" class="btn btn-outline-light btn-sm mt-2">
                        View Details
                    </a>
                    @if (Context.Session.GetString("UserRole") == "User")
                    {
                        <a class="btn btn-primary" href="/Jobs/Apply/@job.id">Apply</a>
                    }
                </div>
            </div>
        }
    </div>
</div>