@model List<dynamic>

@{
    ViewData["Title"] = "MyApplications";
}


<h2>My Applications</h2>

@if (Model.Count == 0)
{
    <p>No applications found.</p>
}
else
{
    @foreach (var item in Model)
    {
        <div style="border:1px solid gray; padding:10px; margin:10px;">
            <p><b>Application ID:</b> @item.id</p>
            <p><b>Job ID:</b> @item.jobId</p>
            <p><b>Resume:</b> @item.resumePath</p>
        </div>
    }
}