
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post">
    <input name="name" />
    <input name="email" />
    <input name="password" type="password" />

    <select name="role">
        <option>User</option>
        <option>Recruiter</option>
    </select>

    <button type="submit">Register</button>
</form>